// Transformation

.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

// Weight and italics

.font-weight-regular  { font-weight: 400 !important;}
.font-weight-medium   { font-weight: 500 !important;}
.font-weight-bold     { font-weight: 700 !important;}
.font-weight-bolder   { font-weight: 900 !important;}
.font-weight-italic   { font-style: italic !important;}

.font-weight-thin         { font-weight: 100 !important; }
.font-weight-light        { font-weight: 300 !important; }
.font-weight-lighter      { font-weight: 200 !important; }
.font-weight-normal       { font-weight: 400!important; }
.font-weight-medium       { font-weight: 400!important; }
.font-weight-bold         { font-weight: 700 !important; }
.font-weight-semi-bold    { font-weight: 600 !important; }
.font-weight-bolder       { font-weight: 900 !important; }
.font-italic              { font-style: italic !important; }


.text-break {
  word-break: break-word !important;
  word-wrap: break-word !important;
}
