/*COLORS*/
$beige:        #F4F4F4;
$black:        #0A090A;
$blue :        #6666FF;
$green:        #39CF71;
$white:        #FFFFFF;

/*TYPO*/
$Nunito:          'Nunito', sans-serif;
$SpaceGrotesk:    'Space Grotesk', sans-serif;

/**** RESPONSIVE ****/
$mini-mobile: "screen and (min-width: 520px)";
$mobile: "screen and (min-width: 767px)";
$tablet: "screen and (min-width: 992px)";
$desktop: "screen and (min-width: 1200px)";
